@font-face {
    font-family: '210 cracker';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.rawgit.com/TAKGi/webfont/master/0.1/210-cracker-R.eot');
    src: url('https://cdn.rawgit.com/TAKGi/webfont/master/0.1/210-cracker-R.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.rawgit.com/TAKGi/webfont/master/0.1/TTCrackerR.woff') format('woff'),
         url('https://cdn.rawgit.com/TAKGi/webfont/master/0.1/TTCrackerR.ttf') format('truetype'),
         url('https://cdn.rawgit.com/TAKGi/webfont/master/0.1/TTCrackerR.svg#210 cracker') format('svg');
}
